Package: libnginx-mod-http-cache-purge-dbgsym
Source: nginx
Version: 1.14.1-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 50
Depends: libnginx-mod-http-cache-purge (= 1.14.1-2)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-cache-purge
Build-Ids: 46b3802af90bd5c86c69cf81ad4d124b14ce98df
