Package: libnginx-mod-http-subs-filter-dbgsym
Source: nginx
Version: 1.14.1-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 49
Depends: libnginx-mod-http-subs-filter (= 1.14.1-2)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-subs-filter
Build-Ids: 30e8ad54f592356968e52720eb003d603a64843e
