Package: nginx-common
Source: nginx
Version: 1.14.1-2
Architecture: all
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 321
Depends: lsb-base (>= 3.0-6), debconf (>= 0.5) | debconf-2.0
Suggests: fcgiwrap, nginx-doc, ssl-cert
Section: httpd
Priority: optional
Multi-Arch: foreign
Homepage: https://nginx.net
Description: small, powerful, scalable web/proxy server - common files
 Nginx ("engine X") is a high-performance web and reverse proxy server
 created by Igor Sysoev. It can be used both as a standalone web server
 and as a proxy to reduce the load on back-end HTTP or mail servers.
 .
 This package contains base configuration files used by all versions of
 nginx.
