Package: libnginx-mod-http-uploadprogress-dbgsym
Source: nginx
Version: 1.14.1-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 54
Depends: libnginx-mod-http-uploadprogress (= 1.14.1-2)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-uploadprogress
Build-Ids: 4338065dc14041b5c69d97d2633a5c13e685cfd5
