Package: libnginx-mod-http-image-filter-dbgsym
Source: nginx
Version: 1.14.1-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 49
Depends: libnginx-mod-http-image-filter (= 1.14.1-2)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-image-filter
Build-Ids: f0df0c5079d2b3d0b790b6907f6cdb5952c39b76
