Package: libnginx-mod-mail-dbgsym
Source: nginx
Version: 1.14.1-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 118
Depends: libnginx-mod-mail (= 1.14.1-2)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-mail
Build-Ids: bd38b2b524031226825a7e30b0f18f8cac48d294
