Package: libnginx-mod-http-upstream-fair-dbgsym
Source: nginx
Version: 1.14.1-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 46
Depends: libnginx-mod-http-upstream-fair (= 1.14.1-2)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-upstream-fair
Build-Ids: 78d685152136a8b34c40cd9b83b5673e3ded71f6
