Package: libnginx-mod-http-echo
Source: nginx
Version: 1.14.1-2
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 257
Depends: nginx-common (= 1.14.1-2), libc6 (>= 2.14), libgcc1 (>= 1:3.0)
Section: httpd
Priority: optional
Homepage: https://nginx.net
Description: Bring echo and more shell style goodies to Nginx
 Echo module wraps lots of Nginx internal APIs for streaming input and output,
 parallel/sequential subrequests, timers and sleeping, as well as various meta
 data accessing.
 .
 Basically it provides various utilities that help testing and debugging of
 other modules by trivially emulating different kinds of faked subrequest
 locations.
 .
 People will also find it useful in real-world applications that need to:
 .
 1. Serve static contents directly from memory.
 2. Wrap the upstream response with custom header and footer (kinda like the
    addition module but with contents read directly from the config file and
    Nginx variables).
 3. Merge contents of various "Nginx locations" (i.e., subrequests) together in
    a single main request (using echo_location and its friends).
