Package: libnginx-mod-http-fancyindex-dbgsym
Source: nginx
Version: 1.14.1-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 50
Depends: libnginx-mod-http-fancyindex (= 1.14.1-2)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-fancyindex
Build-Ids: 5c977f79ca42d111dbb25d9d4201b774fbc07ae8
