Package: libnginx-mod-http-echo-dbgsym
Source: nginx
Version: 1.14.1-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 170
Depends: libnginx-mod-http-echo (= 1.14.1-2)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-echo
Build-Ids: 6b918a5033e0635c7193a9660f4c53f3df94a52a
