Package: libnginx-mod-http-headers-more-filter-dbgsym
Source: nginx
Version: 1.14.1-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 79
Depends: libnginx-mod-http-headers-more-filter (= 1.14.1-2)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-headers-more-filter
Build-Ids: f03ab39bbaa5c810a661d66d8ed698c3bd16ac31
