Package: libnginx-mod-nchan-dbgsym
Source: nginx
Version: 1.14.1-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 712
Depends: libnginx-mod-nchan (= 1.14.1-2)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-nchan
Build-Ids: 816526a2b52f3bd8b179f6b76095fed8d452b0a6
